*.pem
.cloud/
.storage/
.vscode/
.HA_VERSION
blueprints/automation/homeassistant/
blueprints/script/homeassistant/
blueprints/template/homeassistant/
custom_components/
home-assistant.log*
home-assistant_v2.db*
insteon_devices.json
image/
tts/
zigbee.db*
